<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="stylesheets/reset.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="wrapper" ng-controller="ApplicationCtrl" ng-class="{'sidebar-open': sidebarMenuIsOpen}">

      <div class="sidebar">
        <div class="sidebar-ico-open" ng-click="toggleSidebarMenu()"></div>
      </div>
      <div class="sidebar-menu">
        <div class="header">
          <a href="#/">
            <img class="logo" src="images/logo.png" alt="" width="101" height="18" />
          </a>
        </div>
        <div class="menu">
          <ul>
            <li class="selected">
              <a href="#/catalog?type=mechanic">Механические коляски</a>
            </li>
            <li>
              <a href="#/catalog?type=electric">Электрические коляски</a>
            </li>
          </ul>
        </div>

        <div class="part-menu">
          <ul>
            <li>
              <a href="javascript:void(0)">Доставка и оплата</a>
            </li>
            <li>
              <a href="#/about">О компании</a>
            </li>
            <li>
              <a href="javascript:void(0)">Контакты</a>
            </li>
            <li>
              <a href="javascript:void(0)">Полезная информация</a>
            </li>
          </ul>
        </div>

        <div class="contacts">
          <div class="phone">+7 495 765-56-56</div>
          <div class="call-order" ng-class="{'call-order-open': OrderCallFormIsOpen}">
            <input type="button" value="Заказать звонок" class="button button-arrow" ng-click="toggleOrderCallForm()" />
            <div class="order-form">
              <form ng-submit="orderCall()">
                <input type="text" class="order-phone" ng-model="orderCallData.phone" placeholder="Телефон" />
                <div class="form-send">
                  <input type="submit" value="Ок" class="button" />
                  <div class="form-close" ng-click="toggleOrderCallForm()"></div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

      <div class="container">
        <div ng-view=""></div>
      </div>

    </div>

    <script src="javascripts/angular/angular.min.js"></script>
    <script src="javascripts/angular/angular-route.min.js"></script>
    <script src="javascripts/angular/angular-animate.min.js"></script>
    <script src="javascripts/angular/angular-sanitize.min.js"></script>

    <script src="javascripts/angular/localStorage.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>