<!DOCTYPE html>
<html id="ng-app" ng-app="App">
  <head>
    <base href="/">

    <meta charset="UTF-8">

    <title ng-bind="metaTags.pageTitle"></title>
    <meta name="keywords" content="{{metaTags.pageKeyWords}}" />
    <meta name="description" content="{{metaTags.pageDescription}}" />

    <meta name="viewport" content="width=1280, user-scalable=no" />

    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel="stylesheet" href="/stylesheets/home.css" />

    <link rel="stylesheet" href="/stylesheets/catalog.css" />
    <link rel="stylesheet" href="/stylesheets/product.css" />
    <link rel="stylesheet" href="/stylesheets/product-compare.css" />
    <link rel="stylesheet" href="/stylesheets/buy.css" />

    <link rel="stylesheet" href="/stylesheets/site-pages.css" />

    <link rel="stylesheet" href="/stylesheets/info.css" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="https://kupivkredit-test-fe.tcsbank.ru/widget/vkredit.js"></script>

    <!--[if lte IE 9]>
      <script src="//cdn.rawgit.com/jpillora/xdomain/0.6.17/dist/xdomain.min.js" slave="http://white-m.ru/proxy.html"></script>
    <![endif]-->

    <script src="/javascripts/angular/angular.min.js"></script>
    <script src="/javascripts/angular/angular-route.min.js"></script>
    <script src="/javascripts/angular/angular-animate.min.js"></script>
    <script src="/javascripts/angular/angular-sanitize.min.js"></script>

    <script src="/javascripts/gmaps.js"></script>

    <script src="/javascripts/angular/localStorage.js"></script>
    <script src="/javascripts/gmaps-ng.js"></script>

    <script src="/javascripts/isotope/vendor/jquery.isotope.js"></script>
    <script src="/javascripts/isotope/angular-isotope.js"></script>

    <script src="/javascripts/spritespin.js"></script>
    <script src="/javascripts/spritespin-ng.js"></script>

    <script src="/javascripts/waypoint/waypoints.min.js"></script>
    <script src="/javascripts/waypoint/waypoints-sticky.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/slick.css" />
    <script src="/javascripts/slick.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="/javascripts/3D/object2vr_player.js"></script>
    <script src="/javascripts/3D/skin.js"></script>
    <script src="/javascripts/angular-object2vr.js"></script>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers/controllers.js"></script>
    <script src="/javascripts/controllers/catalogCtrl.js"></script>

    <script src="/javascripts/controllers/productCtrl.js"></script>
    <script src="/javascripts/controllers/productCompareCtrl.js"></script>
    <script src="/javascripts/controllers/byuCtrl.js"></script>
    <script src="/javascripts/controllers/infoCtrl.js"></script>
    <script src="/javascripts/controllers/deliveryCtrl.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57304282-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body>
    <div class="wrapper" ng-controller="ApplicationCtrl">

      <div class="header-layout">
        <div class="email">
          <a ng-href="mailto:{{mainEmail}}" ng-bind="mainEmail"></a>
        </div>
        <div class="navigation">
          <ul>
            <li>
              <a href="/delivery">Доставка</a>
            </li>
            <li>
              <a href="/payment">Оплата</a>
            </li>
            <li>
              <a href="/return_guarantee">Возврат товара и гарантия</a>
            </li>
            <li>
              <a href="/faq">Вопросы и ответы</a>
            </li>
            <li>
              <a href="/about">О компании</a>
            </li>
            <li>
              <a href="/contacts">Контакты</a>
            </li>
            <li>
              <a href="/info">Полезная информация</a>
            </li>
          </ul>
        </div>
        <form class="search" ng-class="{'search-active': searchFormActive}">
          <input type="text" name="search" value="" class="form-control" ng-model="searchString" ng-blur="toggleSearchFormBlur()" />
          <button class="caption" type="submit" ng-click="toggleSearchForm()">Поиск</button>
        </form>
      </div>

      <div class="nav-menu-layout" ng-class="{'nav-menu-layout-black': !pageIsMain}">
        <a href="/" class="logo">
          <img src="/images/logo.png" alt="" width="101" height="18" />
        </a>

        <ul class="catalog-links">
          <li>
            <a href="/catalog/mechanic">Ручные инвалидные коляски</a>
          </li>
          <li>
            <a href="/catalog/electric">Электрические коляски</a>
          </li>
          <li>
            <a href="/catalog/active">Активные коляски</a>
          </li>
        </ul>

        <div class="phone" ng-bind="mainPhone"></div>

        <a ng-href="/product_compare" class="compared-products" ng-if="comparedProducts.length > 0 && enableCompareShortcut">
          К сравнению ({{comparedProducts.length}})
        </a>
      </div>

      <div class="brief" ng-if="!pageIsMain" ng-class="{'brief-inner': !pageIsMain}">
        <div class="brief-item">
          <img class="ico" src="/images/brief/ico-1.png" alt="" />
          <div class="title">
            Официальный<br/>
            дилер Invacare
          </div>
        </div>
        <div class="brief-item">
          <img class="ico" src="/images/brief/ico-2.png" alt="" />
          <div class="title">
            Гарантия на каждый<br/>
            товар 3 года
          </div>
        </div>
        <div class="brief-item">
          <img class="ico" src="/images/brief/ico-3.png" alt="" />
          <div class="title">
            Доставка по РФ,<br/>
            Казахстану и Беларуси
          </div>
        </div>
        <div class="brief-item">
          <img class="ico" src="/images/brief/ico-4.png" alt="" />
          <div class="title">
            Все товары<br/>
            сертифицированы
          </div>
        </div>
      </div>

      <div class="nav-menu-info" ng-if="pageIsInfo">
        <ul>
          <li ng-repeat="item in infoNavMenu" ng-class="{active: item.active}">
            <a ng-href="{{item.url}}" ng-bind="item.title"></a>
          </li>
        </ul>
      </div>

      <div class="container" ng-class="{'container-inner': !pageIsMain}">
        <div ng-view=""></div>
      </div>

    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter27356735 = new Ya.Metrika({id:27356735,
              webvisor:true,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true});
          } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/27356735" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

  </body>
</html>