<div class="page-block page-block-about">
  <div class="page-inner">
    <div class="page-title">О компании</div>
    <div class="page-content">
      На этом сайте Вы можете выбрать и приобрести коляски компании Invacare, мирового лидера в производстве
      реабилитационного оборудования со штабом в городе Элирия, Огайо, США.
      Среди широкого ассортимента кресел-колясок, от конструктивных и лаконичных моделей для активного использования,
      до кресел-колясок, спроектированных для самых сложных случаев реабилитации, для нахождения в них основную часть дня,
      Вы сможете подобрать именно то кресло-коляску, которое будет отвечать всем Вашим требованиям и необходимостям.
    </div>
  </div>
  <div class="copyright">
    <div class="copyright-inner">
      <img class="logo" src="/images/logo-invacare.png" alt="" /> © {{currentDate | date: 'yyyy'}} Invacare Corporation. Все права защищены
    </div>
  </div>
</div>