<link rel="stylesheet" href="stylesheets/site-pages.css" />

<div class="page-block page-block-about">
  <div class="page-inner">
    <div class="page-title">О компании</div>
    <div class="page-content">
      Таков первый разряд писем. Второй разряд это письма людей, желающих служить
      народу и не находящих способа приложения своих, очевидно, предполагаемых
      великих сил. Человек так благороден, так возвышен, что не может жить для себя,
      а желает посвятить свою жизнь на служение другим, но или не может этого делать,
      люди мешают ему, или сам не может почему-то отдаваться этому
      самоотверженному служению
    </div>
  </div>
  <div class="copyright">
    <div class="copyright-inner">
      <img class="logo" src="images/logo-invacare.png" alt="" /> © {{currentDate | date: 'yyyy'}} Invacare Corporation. Все права защищены
    </div>
  </div>
</div>