<div class="page-block page-block-buy" ng-controller="BuyCtrl">
  <div class="column products">
    <div class="title">Покупки</div>

    <div class="products-list" ng-if="productItem && !orderSuccess">
      <div class="products-list-item">
        <div class="product-card">
          <div class="head">
            Артикул:  <span ng-bind="productItem.art"></span>
            <div class="ico-remove" ng-click="removeItem()"></div>
          </div>
          <div class="detail">
            <div class="image">
              <img ng-src="{{domain + productItem.photo.thumb}}" alt="" width="80" />
            </div>

            <div class="name" ng-bind="productItem.name"></div>
            <div class="price"><span ng-bind="productItem.price"></span> <span class="rouble">⃏</span></div>
            <div class="functions-price" ng-if="additionalPrice">
              Фунцкии: <span ng-bind="additionalPrice"></span> <span class="rouble">⃏</span>
            </div>
          </div>
        </div>
        <div class="product-functions" ng-if="functionsSelected.length > 0">
          <div class="head">
            Выбранные функции
            <div class="ico-list-action" ng-click="toggleFunctionList()" ng-class="{'ico-list-open': functionsListOpened}"></div>
          </div>
          <div class="functions-list" ng-show="functionsListOpened">
            <div class="function-item" ng-repeat="item in functionsSelected">
              <div ng-bind="item.title"></div>
              <div class="price"><span ng-bind="item.price"></span> <span class="rouble">⃏</span></div>
              <div class="ico-remove" ng-click="removeFunction(item)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="buy-empty" ng-if="!productItem">
      Ничего не выбрано
    </div>

  </div>

  <div class="column checkout" ng-if="productItem && !orderSuccess">
    <div class="title">Оформление заказа</div>

    <div class="tabs">
      <div class="tab-item" ng-repeat="item in checkoutSteps" ng-click="changeCheckoutStep($index)" ng-class="{'tab-active': $index == checkoutStepSelected, 'tab-completed': item.completed}">
        <div class="inner">
          <span class="label" ng-bind="item.title"></span>
        </div>
      </div>
    </div>

    <div class="tab-content">
      <div class="tab-content-item" ng-show="checkoutStepSelected == 0">
        <div class="title">Контактные данные</div>
        <div class="inner contacts">
          <div class="form-horizontal">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Введите имя" ng-model="checkoutData.name" ng-class="{error: userDataErrors.name}" />
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <input class="form-control" type="email" placeholder="Введите почту" ng-model="checkoutData.email" ng-class="{error: userDataErrors.email}" />
                </div>
                <div class="col-sm-6">
                  <input class="form-control" type="text" placeholder="Введите телефон" ng-model="checkoutData.phone" ng-class="{error: userDataErrors.phone}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content-item tab-content-item-delivery" ng-show="checkoutStepSelected == 1">
        <div class="title">Доставка</div>
        <div class="inner">
          <div class="checkout-errors" nf-if="deliveryError" ng-bind="deliveryError"></div>
          <div class="delivery-list">
            <div class="delivery-item" ng-repeat="item in deliveryItems" ng-class="{selected: selectedDelivery.id == item.id}">
              <div ng-bind="item.title"></div>

              <div ng-if="item.priceRange">
                <div class="price">Стоимость от <span ng-bind="item.priceRange.from"></span> до <span class="summ"><span ng-bind="item.priceRange.to"></span>.-</span></div>
              </div>

              <div ng-if="item.price" class="price" ng-bind="item.price"></div>

              <div class="choose-button" ng-click="toggleDeliveryItem(item)">Выбрать</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content-item tab-content-item-delivery" ng-show="checkoutStepSelected == 2">
        <div class="title">Оплата</div>
        <div class="inner">
          <div class="checkout-errors" nf-if="paymentError" ng-bind="paymentError"></div>
          <div class="delivery-list">
            <div class="delivery-item payment-item" ng-repeat="item in paymentItems" ng-class="{selected: selectedPayment.value == item.value, 'e-money': item.value == 0}">
              <div ng-bind="item.title"></div>
              <div class="payment-sub-list" ng-if="item.value == 0">
                <div class="sub-list-item" ng-repeat="eType in EMoneyTypeList">
                  <label>
                    <input type="radio" ng-model="EMoneyTypeListSelected.name" ng-value="eType.name" />
                    <span ng-bind="eType.title"></span>
                  </label>
                </div>
              </div>
              <div class="choose-button" ng-click="togglePaymentItem(item)">Выбрать</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="continue-button">
      <div class="inner" ng-click="nextStep()">Продолжить</div>
    </div>
  </div>

  <div class="order-congrats" ng-if="orderSuccess">
    Ваш заказ принят. В ближайшее время наш менеджер с Вами свяжется для уточнения деталей доставки
  </div>
  <div class="order-congrats-overlay" ng-if="orderSuccess"></div>

</div>