<div class="page-block page-block-catalog" ng-controller="CatalogCtrl">
  <div class="filters">
    <div class="filter-type filter-carriage-type">
      <div class="filter-item" ng-repeat="item in carriageTypes" ng-click="changeType(item.type)" ng-class="{selected: item.type == carriageTypeSelected}" ng-bind="item.title"></div>
    </div>

    <div class="filter-type filter-carriage-options" ng-if="carriageOptions.length > 0">
      <div class="filter-item" ng-repeat="item in carriageOptions" ng-click="filterOptions(item.id)" ng-class="{checked: activeOptionsFilter.indexOf(item.id) > -1}">
        <span ng-bind="item.name"></span>
        <div class="ico"></div>
      </div>
    </div>

    <div class="filter-type filter-carriage-order" ng-class="{ordered:priceOrderProperty == 'price'}" ng-click="togglePriceOrderProperty()" ng-if="productsList.length">
      Сортировать по ценам
      <div class="ico"></div>
    </div>
  </div>

  <div class="product-list" id="isotopeContainer" isotope-container="isotope-container" iso-options="isoOptions">
    <a ng-href="/catalog/{{item.id}}" class="product-item" ng-repeat="item in productsList | orderBy:priceOrderProperty" isotope-item>
      <div class="price"><span ng-bind="item.price"></span> руб.</div>
      <div class="image">
        <img ng-src="{{domain + item.photo.image.thumb.url}}" alt="" width="272" height="272" />
      </div>
      <div class="artikul">Арт: <span ng-bind="item.art"></span></div>
      <div class="name" ng-bind="item.name"></div>
    </a>
  </div>
</div>