<div class="page-block page-block-contacts" ng-controller="ContactsCtrl">
  <div class="page-col page-bg">

  </div>
  <div class="page-col page-content">
    <div class="communication-types">
      <div class="communication-type">
        <div class="title">Телефон</div>
        <div class="text">+7 495 678-67-76</div>
        <div class="call-order">
          <input type="button" value="Перезвоните мне" class="button" />
        </div>
      </div>
      <div class="communication-type">
        <div class="title">Почта</div>
        <div class="text">invacare@site.com</div>
      </div>
    </div>

    <div class="communication-type">
      <div class="title">Адрес</div>
      <div class="text">г. Москва, Ленинский проспект, 500м от МКАД, Бизнес-парк «Румянцево», корпус «Г», 11 подъезд, офис 521г</div>
      <div class="map-box" googlemap="" id="map-location" markers="mapMarkers"></div>
    </div>

  </div>
</div>