<link rel="stylesheet" href="stylesheets/site-pages.css" />

<div class="page-block page-block-delivery-payments">
  <div class="delivery">
    <div class="title">Доставка</div>
    <div class="text">
      Таков первый разряд писем. Второй разряд это письма людей,
      желающих служить народу и не находящих способа пивасика
      приложения своих, очевидно, предполагаемых птичек
    </div>

    <div class="delivery-types">

      <div class="delivery-type-item">
        <div class="title">Механические коляски</div>
        <div class="delivery-list">
          <table>
            <tr class="gray">
              <td>Москва</td>
              <td></td>
              <td>бесплатно</td>
            </tr>
            <tr>
              <td>Московская область</td>
              <td>до 30км</td>
              <td>1000 руб.</td>
            </tr>
            <tr>
              <td></td>
              <td>от 30км</td>
              <td>2000 руб.</td>
            </tr>
            <tr class="gray">
              <td>Регионы</td>
              <td></td>
              <td>1000 руб.</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="delivery-type-item">
        <div class="title">Механические коляски</div>
        <div class="delivery-list">
          <table>
            <tr class="gray">
              <td>Москва</td>
              <td></td>
              <td>бесплатно</td>
            </tr>
            <tr>
              <td>Московская область</td>
              <td>до 30км</td>
              <td>1000 руб.</td>
            </tr>
            <tr>
              <td></td>
              <td>от 30км</td>
              <td>2000 руб.</td>
            </tr>
            <tr class="gray">
              <td>Регионы</td>
              <td></td>
              <td>3000 руб.</td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </div>
  <div class="payment">
    <div class="title">Оплата</div>
    <div class="text">
      Таков первый разряд писем. Второй разряд это письма людей,
      желающих служить народу и не находящих способа пивасика
      приложения своих, очевидно, предполагаемых птичек
    </div>
    <div class="payments-list">
      <div class="payments-list-col">
        <div class="payment-item">
          <div class="ico">
            <img src="images/ico-payment-cash.png" alt="" />
          </div>
          <div class="title">Наличными в офисе</div>
          <div class="text">
            Оплата товара наличными в нашем офисе в Бизнес Парке
            “Румянцево” в Москве Кроме того вы можете оплатить
            наличными в салонах магазинов Рапида, Евросеть, CONTACT,
            Western Union, Связной и других
          </div>
        </div>

        <div class="payment-item">
          <div class="ico">
            <img src="images/ico-payment-card.png" alt="" />
          </div>
          <div class="title">Кредитные карты Visa и Mastercard</div>
          <div class="text">
            К оплате также принимаются банковские карты Visa и
            Mastercard. Комиссия при оплате картой с вас не взимается.
            При оплате заказа вас автоматически перенаправит на сайт
            платёжной системы, где нужно будет ввести реквизиты своей
            карты. После завершения процесса оплаты вам придет
            смс-уведомление об успешном переводе денег
          </div>
        </div>

      </div>
      <div class="payments-list-col">

        <div class="payment-item">
          <div class="ico">
            <img src="images/ico-payment-bank.png" alt="" />
          </div>
          <div class="title">Банковский перевод</div>
          <div class="text">
            <p>
              При выборе оплаты безналичными средствами, вам
              на электронную почту придет счет на оплату, который можно
              оплатить в ЛЮБОМ банке в вашем регионе. По поступлении
              денежных средств (обычно на следующий день), мы организуем
              доставку в течение 1-3х дней
            </p>
            <p>
              Обратите внимание! Платёж пройдет быстрее при оплате счета
              в интернет-банке, офисах, банкоматах, терминалах банка
              ООО "Уралсиб".  <span class="more">Подробнее</span>
            </p>
          </div>
        </div>

        <div class="payment-item">
          <div class="ico">
            <img src="images/ico-payment-online.png" alt="" />
          </div>
          <div class="title">Онлайн-деньги</div>
          <div class="text">
            Кроме традиционных способов, мы предлагаем вам
            возможность оплатить товар: при помощи электронных
            кошельков WebMoney, Яндекс.Деньги, карт ДеньгиOnline, QIWI
          </div>
        </div>

      </div>
    </div>
  </div>
</div>