<div class="page-block page-block-delivery-payments">
  <div class="delivery">
    <div class="title">Доставка</div>
    <div class="text">
      Таков первый разряд писем. Второй разряд это письма людей,
      желающих служить народу и не находящих способа пивасика
      приложения своих, очевидно, предполагаемых птичек
    </div>

    <div class="delivery-types">

      <div class="delivery-type-item">
        <div class="title">Электрические коляски</div>
        <div class="delivery-list">
          <table>
            <tr class="gray">
              <td>Москва</td>
              <td></td>
              <td>бесплатно</td>
            </tr>
            <tr>
              <td>Московская область</td>
              <td>до 30км</td>
              <td>1000 руб.</td>
            </tr>
            <tr>
              <td></td>
              <td>от 30км</td>
              <td>2000 руб.</td>
            </tr>
            <tr class="gray">
              <td>Регионы</td>
              <td></td>
              <td>1000 руб.</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="delivery-type-item">
        <div class="title">Механические коляски</div>
        <div class="delivery-list">
          <table>
            <tr class="gray">
              <td>Москва</td>
              <td></td>
              <td>бесплатно</td>
            </tr>
            <tr>
              <td>Московская область</td>
              <td>до 30км</td>
              <td>1000 руб.</td>
            </tr>
            <tr>
              <td></td>
              <td>от 30км</td>
              <td>2000 руб.</td>
            </tr>
            <tr class="gray">
              <td>Регионы</td>
              <td></td>
              <td>3000 руб.</td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>