<div class="page-block page-block-info-part page-block-faq">
  <div class="title">Вопросы и ответы</div>
  <div class="faq-list">
    <div class="faq-item">
      <div class="faq-item-question">
        <span class="caption">Вопрос:</span>
        Привет, как дела?
      </div>
      <div class="faq-item-answer">
        <span class="caption">Ответ:</span>
        Норм так
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        <span class="caption">Вопрос:</span>
        Привет, как дела?
      </div>
      <div class="faq-item-answer">
        <span class="caption">Ответ:</span>
        Норм так
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        <span class="caption">Вопрос:</span>
        Привет, как дела?
      </div>
      <div class="faq-item-answer">
        <span class="caption">Ответ:</span>
        Норм так
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        <span class="caption">Вопрос:</span>
        Привет, как дела?
      </div>
      <div class="faq-item-answer">
        <span class="caption">Ответ:</span>
        Норм так
      </div>
    </div>
  </div>
</div>