<div class="page-block page-block-index">

  <div class="header">
    <div class="inner">
      <div class="title">Инвалидные коляски Invacare</div>
      <div class="summary">
        Не выходя из дома и не торопясь вы сможете выбрать из 14 колясок Invacare или заказать инвалидную коляску по индивидуальным меркам.
        В нашем магазине инвалидных колясок вы найдете максимум информации для детального изучения характеристик кресла-коляски, максимально выгодные и удобные условия ее приобретения
      </div>
      <div class="actions">
        <div class="action-buttons" ng-class="{show: !HeaderOrderCallFormIsOpen}">
          <a class="action-item" href="/catalog">Перейти в каталог</a>
        </div>
      </div>
    </div>
  </div>

  <div class="brief">
    <div class="brief-item">
      <img class="ico" src="/images/brief/ico-1.png" alt="" />
      <div class="title">
        Официальный<br/>
        дилер Invacare
      </div>
    </div>
    <div class="brief-item">
      <img class="ico" src="/images/brief/ico-2.png" alt="" />
      <div class="title">
        Гарантия до 3х лет
      </div>
    </div>
    <div class="brief-item">
      <img class="ico" src="/images/brief/ico-3.png" alt="" />
      <div class="title">
        Бесплатная доставка по РФ,<br/>
        доставка в Казахстан и Беларусь
      </div>
    </div>
    <div class="brief-item">
      <img class="ico" src="/images/brief/ico-4.png" alt="" />
      <div class="title">
        Все товары<br/>
        сертифицированы
      </div>
    </div>
  </div>

  <div class="info">
    <div class="info-title">Причины купить инвалидную коляску Invacare</div>
    <div class="info-text">
      Она удобная и прослужит долго.
      Продуманную базовую конструкцию кресла-коляски вы можете дополнить нужными вам функциями.
      Если захотите, спинка вашего кресла будет откидываться с помощью пульта управления, а может вам важнее увеличить скорость разгона инвалидной коляски?
      Возможно все.
    </div>
    <div class="info-grid">
      <div class="col col-details">
        <div class="detail-item">
          <div class="detail-title">
            <div class="number">1</div>
            Сделано в США, Германии и Швеции
          </div>
          <div class="detail-text">
            Производство инвалидных колясок соответствует европейским стандартам качества и современным требованиям комфорта.
            Ручные коляски поставляются из Швеции, инвалидные коляски с электроприводом - из Германии и США.
          </div>
        </div>
        <div class="detail-item">
          <div class="detail-title">
            <div class="number">2</div>
            Инновационные технологии
          </div>
          <div class="detail-text">
            Оставаться мировым лидером в производстве инвалидной и реабилитационной техники Invacare позволяют инновационные разработки, применение современных качественных материалов и запатентованные конструктивные решения
          </div>
        </div>
        <div class="detail-item">
          <div class="detail-title">
            <div class="number">3</div>
            Невероятный комфорт
          </div>
          <div class="detail-text">
            Точность управления, комфорт и маневренность инвалидных кресел Invacare оправдает ваши ожидания!
          </div>
        </div>
      </div>
      <div class="col col-image">
        <img src="/images/image-info.jpg" alt="" >
      </div>
    </div>
  </div>

  <div class="reviews">
    <div class="review-title">Отзывы покупателей</div>
    <div class="review-prev review-arrow"></div>
    <div class="review-next review-arrow"></div>
    <div class="review-item">
      <div class="text">«Все, что душе угодно. Таким положением дел активно пользуются в первую очередь бедные слои населения»</div>
      <div class="author">Миша Архангел</div>
    </div>
  </div>

  <div class="carriage-transitions">
    <a href="/catalog?type=mechanic" class="transition-item transition-item-mechanic">
      <div class="caption">Перейти к ручным коляскам <span class="arrow">&rarr;</span></div>
    </a>
    <a href="/catalog?type=electric" class="transition-item transition-item-electric">
      <div class="caption">Перейти к электрическим коляскам <span class="arrow">&rarr;</span></div>
    </a>
    <a href="/catalog?type=active" class="transition-item transition-item-active">
      <div class="caption">Перейти к активным коляскам <span class="arrow">&rarr;</span></div>
    </a>
  </div>

</div>