<div class="page-block page-block-index">

  <div class="header">
    <div class="inner">
      <div class="title">Магазин средств реабилитации Invacare</div>
      <div class="summary">
        Ещё одна причина — высокая мотивация сотрудников. Все хотят сделать хорошо — к большому
        сожалению, в русских студиях я такого не замечал. Здесь, когда нужно сделать
      </div>
      <div class="actions">
        <div class="action-buttons" ng-class="{show: !HeaderOrderCallFormIsOpen}">
          <a class="action-item" href="#!/catalog">Перейти в каталог</a>
        </div>
      </div>
    </div>
  </div>

  <div class="brief">
    <div class="brief-item">
      <img class="ico" src="images/brief/ico-1.png" alt="" />
      <div class="title">
        Официальный<br/>
        дилер Invacare
      </div>
    </div>
    <div class="brief-item">
      <img class="ico" src="images/brief/ico-2.png" alt="" />
      <div class="title">
        Гарантия на каждый<br/>
        товар 2 года
      </div>
    </div>
    <div class="brief-item">
      <img class="ico" src="images/brief/ico-3.png" alt="" />
      <div class="title">
        Доставка по РФ,<br/>
        Казахстану и Беларуси
      </div>
    </div>
    <div class="brief-item">
      <img class="ico" src="images/brief/ico-4.png" alt="" />
      <div class="title">
        Все товары<br/>
        сертифицированы
      </div>
    </div>
  </div>

  <div class="info">
    <div class="info-title">Причины выбрать Invacare</div>
    <div class="info-text">
      Ещё одна причина — высокая мотивация сотрудников. Все хотят сделать хорошо — к большому<br/>
      сожалению, в русских студиях я такого не замечал. Здесь, когда нужно сделать
    </div>
    <div class="info-grid">
      <div class="col col-details">
        <div class="detail-item">
          <div class="detail-title">
            <div class="number">1</div>
            Сделано в США
          </div>
          <div class="detail-text">
            Мы тщательно измеряем каждую вашу складочку, чтобы собрать<br/>
            самую лучшую коляску
          </div>
        </div>
        <div class="detail-item">
          <div class="detail-title">
            <div class="number">2</div>
            Безупречные технологии
          </div>
          <div class="detail-text">
            Мы тщательно измеряем каждую вашу складочку, чтобы собрать<br/>
            самую лучшую коляску
          </div>
        </div>
        <div class="detail-item">
          <div class="detail-title">
            <div class="number">3</div>
            Невероятный комфорт
          </div>
          <div class="detail-text">
            Мы тщательно измеряем каждую вашу складочку, чтобы собрать<br/>
            самую лучшую коляску
          </div>
        </div>
      </div>
      <div class="col col-image">
        <img src="images/image-info.jpg" alt="" >
      </div>
    </div>
  </div>

  <div class="reviews">
    <div class="review-title">Отзывы покупателей</div>
    <div class="review-prev review-arrow"></div>
    <div class="review-next review-arrow"></div>
    <div class="review-item">
      <div class="text">«Все, что душе угодно. Таким положением дел активно пользуются в первую очередь бедные слои населения»</div>
      <div class="author">Миша Архангел</div>
    </div>
  </div>

  <div class="carriage-transitions">
    <a href="#!/catalog?type=mechanic" class="transition-item transition-item-mechanic">
      <div class="caption">Перейти к механическим коляскам <span class="arrow">&rarr;</span></div>
    </a>
    <a href="#!/catalog?type=electric" class="transition-item transition-item-electric">
      <div class="caption">Перейти к электрическим коляскам <span class="arrow">&rarr;</span></div>
    </a>
    <a href="#!/catalog?type=active" class="transition-item transition-item-active">
      <div class="caption">Перейти к активным коляскам <span class="arrow">&rarr;</span></div>
    </a>
  </div>

</div>