<div class="page-block page-block-product" ng-controller="ProductCtrl">
  <div class="main-card">

    <div class="image-view">
      <div class="view-item" ng-class="{selected: viewItemSelected == 0}" ng-click="changeView(0)" ng-if="product.rotation_images.length > 0">360&deg;</div>
      <div class="view-item" ng-class="{selected: viewItemSelected == 1}" ng-click="changeView(1)" ng-if="product.images.length > 0">3D</div>
    </div>

    <div class="card-container">
      <div class="card-col card-image card-image-main">
        <div class="image-container">
          <div class="animation-container" ng-show="viewItemSelected == 0" ng-class="{'enable-rotation': product.rotation_images.length > 0}" sprite-spin="spinObj" spin-images="product.rotation_images" spin-ready="spinReady">
            <img class="img" ng-src="{{domain + product.photo.original}}" alt="" />
          </div>
          <div class="spin-ico" ng-show="spinObj.spinReady"></div>

          <div class="threed-object-container">
            <div class="zoom-slider" ng-show="viewItemSelected == 1" ng-if="product.images.length > 0">
              <div class="zoom-control zoom-plus">
                <div class="zoom-control-inner"></div>
              </div>
              <div id="slider-vertical"></div>
              <div class="zoom-control zoom-minus disabled">
                <div class="zoom-control-inner"></div>
              </div>
            </div>

            <div class="threed-object" ng-if="viewItemSelected == 1 && product.images.length > 0" threed-rotation="" threed-config="threedConfig"></div>
          </div>

          <div class="threed-hint overlay" ng-if="hintEnabled && product.images.length > 0">
            <div class="center">
              <img src="images/ico-3d-hint-2.png" alt="" width="58" height="60" />
              <div class="hint-text">
                Двигайте изображение
                в любом направлении
              </div>
              <img src="images/ico-3d-hint-1.png" alt="" width="66" height="66" />
              <div class="hint-text">
                Используйте кнопки
                для масштабирования
              </div>
              <button class="continue btn btn-default" ng-click="continueView()">Продолжить</button>
            </div>
          </div>

        </div>
      </div>
      <div class="card-col card-details">
        <div class="artikul" ng-bind="product.art"></div>
        <div class="name" ng-bind="product.name"></div>
        <div class="text" ng-bind-html="product.description"></div>

        <div class="other">
          <div class="other-item delivery" ng-if="product.free_shipping">
            <div class="ico"></div>
            Бесплатная доставка в пределах МКАД
          </div>
          <div class="other-item refunds">
            <div class="ico"></div>
            Возврат денег
            <span class="more">подробнее</span>
          </div>
        </div>

        <div class="buy-button">
          <a class="button" ng-click="buyProduct()" href="javascript:void(0)">Купить за <span class="price"><span ng-bind="product.price"></span> <span class="rouble">⃏</span></span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-card speciality transformations" ng-repeat="transformItem in transformations">
    <div class="card-container">

      <div class="card-col card-details">
        <div class="title" ng-bind="transformItem.title"></div>
        <div class="text" ng-bind-html="transformItem.description"></div>
        <div class="actions">
          <div class="action-item">
            <div class="ico"></div>
            <div class="caption">Наведите мышь на картинку</div>
          </div>
        </div>
      </div>

      <div class="card-col card-image" id="animation-{{$index}}">
        <div class="animation-container" sprite-spin="" spin-images="transformItem.images" spin-config-additional="transformationsSpinConfig">
          <img ng-src="{{domain + product.photo.original}}" alt="" />
        </div>
      </div>

    </div>
  </div>

  <div class="main-card speciality speciality-white speciality-control promo-block" ng-repeat="adItem in ad_blocks">
    <div class="card-container">

      <div class="card-col card-details" ng-if="adItem.right">
        <div class="title" ng-bind="adItem.title"></div>
        <div class="text" ng-bind-html="adItem.description"></div>
      </div>

      <div class="card-col card-image" ng-if="adItem.right" ng-class="{right: adItem.right}">
        <img ng-src="{{domain + adItem.photo.original}}" alt="" />
      </div>

      <div class="card-col card-image" ng-if="!adItem.right">
        <img ng-src="{{domain + adItem.photo.original}}" alt="" />
      </div>

      <div class="card-col card-details" ng-if="!adItem.right">
        <div class="title" ng-bind="adItem.title"></div>
        <div class="text" ng-bind-html="adItem.description"></div>
      </div>

    </div>
  </div>

  <div class="gallery">
    <div class="gallery-item" ng-repeat="item in photo_elements" style="background: url('{{domain + item.photo.original}}') no-repeat 50% 50% transparent; background-size: cover;">
      <div class="overlay"></div>
      <div class="caption" ng-bind-html="item.description"></div>
    </div>
  </div>

  <div class="main-card schema" ng-if="product.scheme_image">
    <div class="card-container">

      <div class="card-col card-image">
        <img ng-src="{{domain + product.scheme_image.original}}" alt="" />
      </div>
    </div>
  </div>

  <div class="configurator" ng-if="configureOptions">
    <div class="title">Конфигуратор</div>
    <div class="description">Выбери необходимую функцию, ты весишь только унцию, получи инструкцию</div>

    <div class="functions-tabs">

      <div class="function-total" ng-if="functionsSelected.length" ng-class="{opened: functionTotalOpened}">
        <div class="label" ng-click="toggleSelectedFunctionsList()">Выбрано функций (<span ng-bind="functionsSelected.length"></span>)</div>

        <div class="functions-list">
          <div class="list-item" ng-repeat="item in functionsSelected">
            <span ng-bind=""></span>
            <div ng-bind="item.title"></div>
            <div class="price"><span ng-bind="item.price"></span> <span class="rouble">⃏</span></div>
            <div class="ico-remove" ng-click="toggleFunction(item)"></div>
          </div>

          <div class="total-price">
            <a class="buy-button" ng-click="buyProduct()" href="javascript:void(0)">Купить за <span ng-bind="totalPrice"></span> <span class="rouble">⃏</span></a>
            <div class="additional-price">С учетом опций на <span ng-bind="additionalPrice"></span> <span class="rouble">⃏</span></div>
          </div>
        </div>
      </div>

      <div class="function-types" ng-if="functionTypes.length">
        <div class="type-item" ng-repeat="item in functionTypes" ng-click="showOptionsByType(item.value)" ng-class="{selected: item.value == functionTypeSelected}">
          <div ng-bind="item.name"></div>
        </div>
      </div>
    </div>

    <div class="functions-list" ng-if="functionsList">
      <div class="list-group" ng-if="functionsList.group" ng-repeat="group in functionsList.group">
        <div class="group-title">
          <div ng-bind="group.title"></div>
        </div>

        <div class="function-item" ng-if="group.list" ng-repeat="function_item in group.list" ng-click="toggleFunction(function_item)" ng-class="{selected: functionsSelected.indexOf(function_item) > -1}">
          <div ng-bind="function_item.title"></div>
          <div class="price"><span ng-bind="function_item.price"></span> <span class="rouble">⃏</span></div>
        </div>
      </div>
    </div>

  </div>

  <div class="technical-characteristics" ng-if="components || characters">
    <div class="title">Технические характеристики</div>
    <div class="description">Выбери необходимую функцию, ты весишь только унцию, получи инструкцию</div>

    <div class="options" ng-if="components">
      <div class="option-item" ng-repeat="item in components">
        <img ng-src="{{domain + item.photo.thumb}}" alt="" width="70" height="70" />
        <br/>
        <span ng-bind="item.name"></span>
      </div>
    </div>

    <div class="characters-grid" ng-if="characters">

      <div class="grid-col col-left">
        <table>
          <tr ng-repeat="item in characters">
            <td class="caption" ng-bind="item.name"></td>
            <td class="value" ng-bind="item.value"></td>
          </tr>
        </table>
      </div>

      <div class="grid-col col-right col-images">
        <div class="image-item">
          <img src="images/temp/product-character-1.png" alt="" />
        </div>
        <div class="image-item">
          <img src="images/temp/product-character-2.png" alt="" />
        </div>
      </div>
    </div>

  </div>

  <div class="main-card total-cost">
    <div class="card-container">

      <div class="card-col">
        Вы выбрали <span class="options-count"><span ng-bind="functionsSelected.length"></span> <span ng-bind="optionsCountLabel"></span></span>, и теперь итоговая стоимость вашей коляски составляет
        <span class="price"><span ng-bind="totalPrice"></span> <span class="rouble">⃏</span></span>
      </div>

      <div class="card-col card-buy-button">
        <a ng-click="buyProduct()" href="javascript:void(0)" class="button">Оформить покупку</a>
      </div>

    </div>
  </div>

</div>