<div class="page-block page-block-return-guarantee">
  <div class="return">
    <div class="title">Возврат</div>
    <div class="text">
      Таков первый разряд писем. Второй разряд это письма людей, желающих служить
      народу и не находящих способа приложения своих, очевидно, предполагаемых
      великих сил. -- Человек так благороден, так возвышен, что не может жить для себя,
      а желает посвятить свою жизнь на служение другим, но или не может этого делать,
      люди мешают ему, или сам не может почему-то отдаваться этому
      самоотверженному служению.
    </div>
  </div>
  <div class="guarantee">
    <div class="title">Гарантия</div>
    <div class="text">
      Таков первый разряд писем. Второй разряд это письма людей, желающих служить
      народу и не находящих способа приложения своих, очевидно, предполагаемых
      великих сил. -- Человек так благороден, так возвышен, что не может жить для себя,
      а желает посвятить свою жизнь на служение другим, но или не может этого делать,
      люди мешают ему, или сам не может почему-то отдаваться этому
      самоотверженному служению.
    </div>
  </div>
</div>