<div class="page-block page-block-search" ng-controller="SearchCtrl">
  <div class="title">
    <div ng-if="productsList.length > 0">Найден <span ng-bind="productsList.length"></span> товар</div>
    <div ng-if="productsList.length == 0">Ничего не найдено</div>
  </div>

  <div class="product-list" id="isotopeContainer" isotope-container="isotope-container" iso-options="isoOptions">
    <a ng-href="#!/catalog/{{item.id}}" class="product-item" ng-repeat="item in productsList" isotope-item>
        <div class="price"><span ng-bind="item.price"></span> руб.</div>
        <div class="image">
          <img ng-src="{{domain + item.photo.image.thumb.url}}" alt="" width="272" height="272" />
        </div>
        <div class="artikul">Арт: <span ng-bind="item.art"></span></div>
        <div class="name" ng-bind="item.name"></div>
      </a>
  </div>
</div>