<p>
  Таков первый разряд писем. Второй разряд это письма людей, желающих служить народу и не находящих способа приложения своих, очевидно, предполагаемых великих сил.
  -- Человек так благороден, так возвышен, что не может жить для себя, а желает посвятить свою жизнь на служение другим, но или не может этого делать, люди мешают ему, или сам не может почему-то отдаваться этому самоотверженному служению.
</p>

<p>
  Человека не было никогда. Вдруг он появился и видит вокруг себя весь мир Божий,
  солнце, небо, деревья, цветы, животные, люди такие же, как он, которые любят
  и которых он может любить, и сознает сам себя со своими способностями разума
  и любви, которые он может довести до высшего совершенства. Все это дано ему
  откуда-то как-то, задаром, хотя он ничем не мог заслужить этого, и вероятно
  для чего-нибудь, но он и не думает задавать себе этих вопросов.
</p>