/*.page-block-index*/
.page-block-index .header{
  background: url('../images/bg-index-header.jpg') no-repeat center 0 transparent;
  background-size: cover;
  padding: 140px 0 80px;
  color: #fff;
}
.page-block-index .header .inner{
  width: 830px;
  margin: 0 auto;
}
.page-block-index .header .title{
  font-family: 'MuseoSansCyrl-700';
  font-size: 40px;
  text-align: center;
}
.page-block-index .header .summary{
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  line-height: 30px;
}
.page-block-index .header .actions{
  margin-top: 30px;
  text-align: center;
}
.page-block-index .header .actions .action-item{
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
  border: solid 2px #fff;
  padding: 12px 35px;
  color: #fff;
  text-decoration: none;
}
.page-block-index .header .actions .action-item:last-child{
  margin-right: 0;
}

.page-block-index .header .actions .action-item:hover{
  background: none #272e32;
  color: #fff;
}

.page-block-index .header .actions .action-buttons{
  text-align: center;
}

.page-block-index .brief{
  display: table;
  width: 100%;
  border-bottom: solid 1px #ccc;
}
.page-block-index .brief .brief-item{
  display: table-cell;
  padding: 30px 60px;
  white-space: nowrap;
}
.page-block-index .brief .brief-item .ico{
  display: inline-block;
  vertical-align: middle;
}
.page-block-index .brief .brief-item .title{
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
  margin-left: 20px;
}

.page-block-index .info{
  padding: 60px ;
}
.page-block-index .info .info-title{
  font-family: 'MuseoSansCyrl-700';
  font-size: 36px;
  text-align: center;
}
.page-block-index .info .info-text{
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  line-height: 30px;
}
.page-block-index .info .info-grid{
  display: table;
  width: 100%;
}
.page-block-index .info .info-grid .col{
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
.page-block-index .info .info-grid .col.col-image{
  padding: 60px 60px 0;
}
.page-block-index .info .info-grid .col.col-details{
  padding: 60px;
}

.page-block-index .info .info-grid .col.col-details .detail-item{
  margin-bottom: 65px;
}
.page-block-index .info .info-grid .col.col-details .detail-item:last-child{
  margin-bottom: 0;
}
.page-block-index .info .info-grid .col.col-details .detail-item .detail-title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-index .info .info-grid .col.col-details .detail-item .detail-title .number{
  font-size: 20px;
  font-family: 'MuseoSansCyrl-700';
  display: inline-block;
  vertical-align: middle;
  color: #5098de;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  text-align: center;
  border: solid 2px #5098de;
  border-radius: 50%;
  position: relative;
  top: -2px;
  margin-right: 20px;
}

.page-block-index .info .info-grid .col.col-details .detail-item .detail-text{
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
}

.page-block-index .reviews{
  padding: 60px 75px;
  position: relative;
  background: none #f2f2f2;
}
.review-title{
  text-align: center;
  color: #1e2326;
  font-size: 36px;
  font-family: 'MuseoSansCyrl-700';
  margin-bottom: 55px;
}
.page-block-index .reviews .review-item{
  width: 775px;
  margin: 0 auto;
  text-align: center;
}
.page-block-index .reviews .review-item .text{
  font-size: 24px;
  line-height: 40px;
}
.page-block-index .reviews .review-item .author{
  margin-top: 30px;
  font-family: 'MuseoSansCyrl-500';
  font-size: 18px;
}
.page-block-index .reviews .review-arrow{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75px;
  cursor: pointer;
}
.page-block-index .reviews .review-arrow.review-prev{
  left: 0;
  background: url('../images/ico-review-prev.png') no-repeat center center transparent;
}
.page-block-index .reviews .review-arrow.review-next{
  right: 0;
  background: url('../images/ico-review-next.png') no-repeat center center transparent;
}

.page-block-index .carriage-transitions{
  height: 450px;
}
.page-block-index .carriage-transitions .transition-item{
  float: left;
  width: 33.3%;
  height: 450px;
  text-align: center;
  text-decoration: none;
  position: relative;
  padding-top: 55px;
}
.page-block-index .carriage-transitions .transition-item.transition-item-mechanic{
  background: url('../images/carriage-mechanic.png') no-repeat center center #3f93e8;
}
.page-block-index .carriage-transitions .transition-item.transition-item-electric{
  background: url('../images/carriage-electric.png') no-repeat center center #3883cf;
}
.page-block-index .carriage-transitions .transition-item.transition-item-active{
  background: url('../images/carriage-active.png') no-repeat center center #3073b5;
}

.page-block-index .carriage-transitions .transition-item.transition-item-mechanic:hover{
  background: url('../images/carriage-mechanic-hovered.png') no-repeat center center #59a8f7;
}
.page-block-index .carriage-transitions .transition-item.transition-item-electric:hover{
  background: url('../images/carriage-electric-hovered.png') no-repeat center center #3883cf;
}
.page-block-index .carriage-transitions .transition-item .caption{
  position: absolute;
  top: 215px;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 18px;
}
.page-block-index .carriage-transitions .transition-item .caption .arrow{
  position: relative;
  top: 2px;
  left: 2px;
  font-weight: bold;
  font-size: 22px;
}