.page-block-product .main-card{
  padding: 100px 60px;
  box-shadow: 0 1px 10px #dedcdd;
  position: relative;
  z-index: 11;
}

.page-block-product .main-card .breadcrumbs{
  position: absolute;
  left: 60px;
  top: 40px;
  color: #808080;
}
.page-block-product .main-card .breadcrumbs a{
  color: #808080;
  text-decoration: none;
}
.page-block-product .main-card .breadcrumbs .arrow{
  width: 5px;
  height: 9px;
  background: url('../images/ico-breadcrumb.png') no-repeat 0 0 transparent;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.page-block-product .main-card .image-view{
  position: absolute;
  left: 60px;
  top: 100px;
  font-size: 18px;
  z-index: 100;
}
.page-block-product .main-card .image-view .view-item{
  cursor: pointer;
  color: #5098de;
  border: solid 2px #5098de;
  text-align: center;
  padding: 17px 8px;
  margin-bottom: 9px;
  background: none #fff;
}
.page-block-product .main-card .image-view .view-item:last-child{
  margin-bottom: 0;
}
.page-block-product .main-card .image-view .view-item:hover{
  background: none #5098de;
  color: #fff;
}
.page-block-product .main-card .image-view .view-item.selected{
  background: none #5098de;
  color: #fff;
  cursor: default;
}

.page-block-product .main-card .card-container{
  display: table;
  width: 100%;
}
.page-block-product .main-card .card-container .card-col{
  display: table-cell;
  width: 50%;
}
.page-block-product .main-card .card-container .card-col.card-image{
  vertical-align: middle;
  padding-left: 80px;
}
.page-block-product .main-card .card-container .card-col.card-image .img{
  left: 28px;
  position: relative;
  top: 13px;
}
.page-block-product .main-card .card-container .card-col.card-image.card-image-main .img{
  max-height: 100%;
  max-width: 100%;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container{
  width: 506px;
  height: 506px;
  position: relative;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .animation-container,
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-object{
  width: 506px;
  height: 506px;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container .full-screen{
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  background: none #fff;
  z-index: 10000;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container #viewport{
  left: 0!important;
  top: 0!important;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .control{
  opacity: 0.5;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .control:hover{
  opacity: 1;
}

.page-block-product .main-card .card-container .card-col.card-image .animation-container .preload{
  position: absolute;
  width: 66px;
  height: 66px;
  left: 50%;
  top: 50%;
  margin-left: -33px;
  margin-top: -33px;
  z-index: 100;
  background: url('../images/loading.gif') no-repeat 0 0 transparent;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .spin-ico{
  position: absolute;
  background: none transparent;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 40px;
  cursor: pointer;
  border: solid 1px #ccc;
  color: #ccc;
  text-align: center;
  padding-top: 10px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .spin-ico:after{
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 16px;
  background: url('../images/ico-360.png') no-repeat 0 0 transparent;
  content: '';
  margin-left: 7px;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container .spin-legend{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  color: #808080;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container:hover .spin-legend{
  display: none;
}

.zoom-slider{
  position: absolute!important;
  left: 20px;
  bottom: 48px;
  z-index: 1001;
}
.zoom-slider .zoom-control{
  font-weight: bold;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  color: #8A8484;
  font-size: 18px;
  line-height: 20px;
  background: url('../images/obj2vr/zoom-img.png') no-repeat -25px -170px transparent;
  padding: 3px;
}
.zoom-slider .zoom-control .zoom-control-inner{
  position: absolute;
  width: 19px;
  height: 19px;
  background: none #fff;
  border-radius: 3px;
  left: 3px;
  top: 3px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fff),
    color-stop(1, #d9d9d9)
  );
  background-image: -o-linear-gradient(bottom, #fff 0%, #d9d9d9 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, #d9d9d9 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, #d9d9d9 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, #d9d9d9 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #d9d9d9 100%);
}

.zoom-slider .zoom-plus{
  top: -25px;
  left: 0;
}
.zoom-slider .zoom-minus{
  bottom: -25px;
  left: 0;
  background-position: -25px -195px;
}
.zoom-slider .zoom-control.zoom-minus .zoom-control-inner{
  top: auto;
  bottom: 3px;
}

.zoom-slider .zoom-control.disabled .zoom-control-inner{
  cursor: default;
  opacity: 0.5;
}
.zoom-slider .zoom-control .zoom-control-inner:after{
  display: block;
  content: '';
  background: url('../images/obj2vr/zoom-img.png') no-repeat -28px -52px transparent;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 0;
}
.zoom-slider .zoom-control.zoom-minus .zoom-control-inner:after{
  background-position: -28px -3px;
}

.zoom-slider .ui-slider{
  height: 100px;
  width: 25px;
  border: medium none;
  background: url('../images/obj2vr/zoom-img.png') no-repeat 0 0 transparent;
  border-radius: 0;
}
.zoom-slider .ui-slider .ui-slider-range{
  display: none;
}
.zoom-slider .ui-slider .ui-slider-handle{
  width: 25px;
  height: 8px;
  background: url('../images/obj2vr/zoom-img.png') no-repeat -25px -100px transparent;
  border: medium none;
  left: 0;
  outline: medium none;
  margin: 0;
}


.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls{
  width: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 101;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls .control-item{
  width: 30px;
  height: 30px;
  background: url('../images/ico-view-controls.png') no-repeat 0 0 transparent;
  cursor: pointer;
  margin-bottom: 10px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls .control-item.minus{
  background-position: 0 -30px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls .control-item.disabled{
  opacity: 0.5;
  cursor: default;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none rgba(80, 152, 222, 0.9);
  z-index: 1100;
  padding-top: 54px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint .center{
  width: 220px;
  margin: 0 auto;
  text-align: center;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint .hint-text{
  font-size: 18px;
  color: #fff;
  margin: 30px 0;
  font-family: 'MuseoSansCyrl-700';
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint .continue{
  background: none #fff;
  font-size: 16px;
  color: #5098de;
  width: 178px;
  font-family: 'MuseoSansCyrl-700';
  border: medium none;
  outline: medium none;
  padding: 14px;
  cursor: pointer;
}

.page-block-product .main-card .card-container .card-col.card-details{
  padding-left: 60px;
  font-size: 18px;
  font-family: 'MuseoSansCyrl-300';
}

.page-block-product .main-card .card-container .card-col.card-details .name{
  font-size: 24px;
  margin-top: 10px;
  line-height: 33px;
  font-family: 'MuseoSansCyrl-500';
}

.page-block-product .main-card .card-container .card-col.card-details .text{
  margin-top: 26px;
  line-height: 30px;
}

.page-block-product .main-card .card-container .card-col.card-details .other{
  margin-top: 28px;
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item{
  margin-bottom: 23px;
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item:last-child{
  margin-bottom: 0;
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item .ico{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item.delivery .ico{
  width: 42px;
  height: 25px;
  background: url('../images/ico-other-delivery.png') no-repeat 0 0 transparent;
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item.refunds .ico{
  width: 25px;
  height: 25px;
  background: url('../images/ico-other-refunds.png') no-repeat 0 0 transparent;
  margin-right: 19px;
  margin-left: 8px;
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item.refunds .more{
  cursor: pointer;
  color: #5098de;
  border-bottom: dotted 1px #5098de;
  margin-left: 8px;
  text-decoration: none;
}

.page-block-product .main-card .card-container .card-col.card-details .buy-button{
  margin-top: 36px;
}
.page-block-product .main-card .card-container .card-col.card-details .buy-button .button{
  display: inline-block;
  cursor: pointer;
  background: none #5098de;
  color: #fff;
  font-size: 24px;
  padding: 20px 41px;
  text-decoration: none;
}
.page-block-product .main-card .card-container .card-col.card-details .buy-button .button:hover{
  background: none #59a8f7;
}
.page-block-product .main-card .card-container .card-col.card-details .buy-button .button.button-test-drive {
  background-color: #fff;
  margin-left: 5px;
  color: #5098de;
  border: solid 1px #5098de;
}

.page-block-product .main-card .card-container .card-col.card-details .button.button-compare{
  cursor: pointer;
  color: #5098de;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-500';
  margin-top: 21px;
}
.page-block-product .main-card .card-container .card-col.card-details .button.button-compare:before{
  content: '+';
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.page-block-product .main-card .card-container .card-col.card-details .button.button-compare.disabled{
  cursor: default;
  opacity: 0.5;
}

.page-block-product .main-card.speciality{
  background: none #f2f0f1;
  box-shadow: none;
  z-index: 10;
  padding: 100px;
}
.page-block-product .main-card.speciality.speciality-white{
  background: none #fff;
}

.page-block-product .main-card.speciality .card-container .card-col.card-details{
  vertical-align: middle;
  padding-right: 60px;
}
.page-block-product .main-card.speciality .card-container .card-col.card-details .title{
  font-size: 36px;
}
.page-block-product .main-card.speciality .card-container .card-col.card-details .actions{
  margin-top: 48px;
}
.page-block-product .main-card.speciality .card-container .card-col.card-details .actions .action-item{
  text-transform: lowercase;
  color: #5098de;
}
.page-block-product .main-card.speciality .card-container .card-col.card-details .actions .action-item .ico{
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 80px;
  height: 40px;
  background: url('../images/ico-action-move.png') no-repeat 0 0 transparent;
}
.page-block-product .main-card.speciality .card-container .card-col.card-details .actions .action-item .caption{
  display: inline-block;
  vertical-align: middle;
  width: 150px;
}

.page-block-product .main-card.speciality .card-container .card-col.card-image img{
  position: relative;
  right: 18px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.page-block-product .main-card.speciality.speciality-control{
  padding-bottom: 0;
  padding-top: 76px;
}
.page-block-product .main-card.speciality.speciality-control .card-container .card-col.card-image{
  vertical-align: bottom;
}
.page-block-product .main-card.speciality.speciality-control .card-container .card-col.card-details{
  padding-bottom: 80px;
  padding-left: 98px;
}

.page-block-product .main-card.speciality.speciality-description{
  height: 500px;
  background: url('../images/temp/bg-speciality-description.png') no-repeat 50% 50% fixed;
  background-size: cover;
  padding: 80px 100px;
}
.page-block-product .main-card.speciality.speciality-description .card-container .card-col.card-details{
  height: 340px
}

.page-block-product .main-card.speciality.transformations .animation-container,
.page-block-product .main-card.speciality.transformations .animation-container .spritespin-canvas{
  width: 454px!important;
  height: 446px!important;
  position: relative;
}

.page-block-product .main-card.speciality.promo-block,
.page-block-product .main-card.speciality.promo-block .card-container{
  height: 500px;
  max-height: 500px;
  padding: 0;
}
.page-block-product .main-card.speciality.promo-block .card-col.card-image{
  padding: 0;
}
.page-block-product .main-card.speciality.promo-block .card-col.card-details{
  max-width: 585px;
}
.page-block-product .main-card.speciality.promo-block .card-container .card-col.card-image img{
  margin: 0;
  right: auto;
}
.page-block-product .main-card.speciality.promo-block .card-col.card-image.right img{
  float: right;
}

.page-block-product .main-card.schema{
  padding: 118px 60px;
  overflow: hidden;
}
.page-block-product .main-card.schema .card-container{
  padding: 0;
}
.page-block-product .main-card.schema .card-container .card-col{
  width: 100%;
}
.page-block-product .main-card.schema .card-container .card-col img{
  left: -34px;
  position: relative;
  top: -3px;
  display: block;
  margin: 0 auto;
}

.page-block-product .main-card.schema .schema-list{
  position: absolute;
  top: 120px;
  bottom: 120px;
  left: 60px;
  right: 60px;
}
.page-block-product .main-card.schema .schema-list .schema-item{
  position: absolute;
  border-top: solid 3px #5098de;
  padding-top: 20px;
}
.page-block-product .main-card.schema .schema-list .schema-item:before{
  content: '';
  position: absolute;
  right: -4px;
  top: -6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: none #5098de;
}

.page-block-product .main-card.schema .schema-list .schema-item .title{
  font-size: 18px;
  font-family: 'MuseoSansCyrl-700';
}
.page-block-product .main-card.schema .schema-list .schema-item .text{
  margin-top: 22px;
  line-height: 24px;
  display: inline-block;
  width: 240px;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-1{
  left: 50%;
  margin-left: -485px;
  width: 332px;
  top: 75px;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-2{
  left: 50%;
  margin-left: -482px;
  width: 420px;
  top: 235px;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-3{
  left: 50%;
  margin-left: -484px;
  width: 333px;
  top: 393px;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-4{
  right: 50%;
  margin-right: -482px;
  width: 449px;
  top: 48px;
  text-align: right;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-5{
  right: 50%;
  margin-right: -483px;
  width: 464px;
  top: 244px;
  text-align: right;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-6{
  right: 50%;
  margin-right: -483px;
  width: 360px;
  top: 397px;
  text-align: right;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-4:before,
.page-block-product .main-card.schema .schema-list .schema-item.schema-item-5:before,
.page-block-product .main-card.schema .schema-list .schema-item.schema-item-6:before{
  right: auto;
  left: -4px;
}

.page-block-product .gallery{
  text-align: center;
}
.page-block-product .gallery:after{
  display: block;
  clear: both;
  content: '';
}
.page-block-product .gallery .gallery-item{
  float: left;
  width: 25%;
  height: 322px;
  background-size: cover;
  position: relative;
}
.page-block-product .gallery .gallery-item.gallery-item-hidden{
  visibility: hidden;
  height: 0;
}

.page-block-product .gallery .gallery-item .caption{
  color: #fff;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 11;
  top: 41%;
  width: 100%;
  font-family: 'MuseoSansCyrl-700';
  font-size: 18px;
}

.page-block-product .gallery .gallery-item .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none rgba(0,0,0, 0.7);
  display: none;
  z-index: 10;
}
.page-block-product .gallery .gallery-item:hover .caption{
  display: block;
}
.page-block-product .gallery .gallery-item:hover .overlay{
  display: block;
}

.page-block-product .configurator{
  padding: 95px 58px;
  background: none #f2f2f2;
}
.page-block-product .configurator .title{
  font-size: 36px;
}
.page-block-product .configurator .description{
  font-size: 18px;
  margin-top: 20px;
}

.page-block-product .configurator .functions-tabs{
  margin-top: 39px;
  font-size: 16px;
}
.page-block-product .configurator .functions-tabs .function-types{
  display: inline-block;
  background: none #fff;
}
.page-block-product .configurator .functions-tabs .function-types .type-item{
  display: inline-block;
  cursor: pointer;
  padding: 12px 23px;
}

.page-block-product .configurator .functions-tabs .function-types .type-item.selected{
  cursor: default;
  color: #fff;
  background: none #5098de;
}

.page-block-product .configurator .functions-tabs .function-types .type-item:hover{
  color: #fff;
  background: none #5098de;
}

.page-block-product .configurator .functions-tabs .function-total{
  float: right;
  border: solid 2px #657680;
  color: #657680;
  position: relative;
  width: 350px;
  z-index: 101;
}
.page-block-product .configurator .functions-tabs .function-total:hover{
  background: none #657680;
  color: #fff;
}

.page-block-product .configurator .functions-tabs .function-total .label{
  cursor: pointer;
  padding: 10px 90px;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list{
  position: absolute;
  width: 100%;
  top: -2px;
  left: 0;
  right: 0;
  padding: 20px;
  background: none #fff;
  display: none;
  max-height: 575px;
  overflow-y: auto;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list .list-item{
  background: none #f2f2f2;
  padding: 20px 46px 20px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
  color: #272e32;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list .list-item .price{
  font-family: 'MuseoSansCyrl-300';
  color: #808080;
  margin-top: 10px;
}

.page-block-product .configurator .functions-tabs .function-total .functions-list .list-item .ico-remove{
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('../images/ico-function-remove.png') no-repeat 0 0 transparent;
  right: 20px;
  top: 50%;
  margin-top: -8px;
  cursor: pointer;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list .list-item .ico-remove:hover{
  opacity: 0.8;
}

.page-block-product .configurator .functions-tabs .function-total .functions-list .list-item:last-child{
  margin-bottom: 0;
}

.page-block-product .configurator .functions-tabs .function-total .functions-list .total-price{
  margin-top: 20px;
  text-align: center;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list .total-price .buy-button{
  color: #fff;
  background: none #5098de;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list .total-price .buy-button:hover{
  background: none #59a8f7;
}

.page-block-product .configurator .functions-tabs .function-total .functions-list .total-price .additional-price{
  color: #999;
  margin-top: 20px;
  font-size: 14px;
}

.page-block-product .configurator .functions-tabs .function-total.opened{
  background: none #657680;
  border: none medium;
}
.page-block-product .configurator .functions-tabs .function-total.opened .label{
  color: #fff;
}
.page-block-product .configurator .functions-tabs .function-total.opened .label:before{
  content: "";
  border-color: #657680 transparent transparent transparent;
  border-style: solid;
  border-width: 7px 8px;
  width: 0;
  height: 0;
  position: absolute;
  right: 50%;
  bottom: -14px;
  z-index: 111;
  margin-right: -8px;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-block-product .configurator .functions-tabs .function-total.opened .functions-list{
  display: block;
}

.page-block-product .configurator .functions-list{
  margin-top: 39px;
}
.page-block-product .configurator .functions-list .list-group{
  margin-bottom: 50px;
}
.page-block-product .configurator .functions-list .list-group .group-title{
  font-size: 18px;
  margin-bottom: 28px;
}
.page-block-product .configurator .functions-list .function-item{
  width: 277px;
  background: none #fff;
  display: inline-block;
  vertical-align: top;
  margin: 0 23px 23px 0;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.page-block-product .configurator .functions-list .function-item .price{
  color: #5098de;
  font-size: 18px;
  margin-top: 10px;
}

.page-block-product .configurator .functions-list .function-item:hover:before{
  border: solid 2px #5098de;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-block-product .configurator .functions-list .function-item.selected{
  background: none #5098de;
  color: #fff;
}
.page-block-product .configurator .functions-list .function-item.selected .price{
  color: #fff;
}

.page-block-product .technical-characteristics{
  padding: 100px 60px;
}
.page-block-product .technical-characteristics .title{
  font-size: 36px;
}
.page-block-product .technical-characteristics .description{
  font-size: 18px;
  margin-top: 20px;
}
.page-block-product .technical-characteristics .options{
  margin-top: 46px;
}
.page-block-product .technical-characteristics .options .option-item{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 40px;
  margin-bottom: 20px;
}
.page-block-product .technical-characteristics .options .option-item img{
  margin-bottom: 15px;
}

.page-block-product .technical-characteristics .characters-grid{
  display: table;
  width: 100%;
  margin-top: 46px;
}
.page-block-product .technical-characteristics .characters-grid .grid-col{
  display: table-cell;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-left{
  width: 67.5%;
  vertical-align: top;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-right{
  width: 32.5%;
  text-align: center;
}

.page-block-product .technical-characteristics .characters-grid .col-images .image-item{
  margin-bottom: 70px;
  padding-left: 94px;
}
.page-block-product .technical-characteristics .characters-grid .col-images .image-item:last-child{
  margin-bottom: 0;
}

.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table{
  width: 100%;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table tr td{
  font-size: 18px;
  padding: 16px 19px;
  vertical-align: top;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table tr:nth-child(odd) td{
  background: none #f2f2f2;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table tr td.value{
  text-align: right;
}

.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table tr.character-item-hidden{
  display: none;
}

.page-block-product .technical-characteristics .characters-grid .load-more{
  clear: none;
}

.page-block-product .total-cost{
  background: none #5098de;
  padding: 50px 100px;
  color: #fff;
  font-size: 18px;
  z-index: 10;
}

.page-block-product .main-card.total-cost .card-buy-button{
  text-align: center;
}
.page-block-product .total-cost .options-count{
  font-weight: bold;
}
.page-block-product .total-cost .button{
  color: #fff;
  background: none #5098de;
  border: solid 2px #fff;
  padding: 10px 30px;
  vertical-align: middle;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}
.page-block-product .total-cost .button:hover{
  background: none #fff;
  color: #5098de;
}

.page-block-product .load-more{
  height: 50px;
  padding-top: 16px;
  background: none #e6e6e6;
  color: #5098de;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-500';
  text-align: center;
  cursor: pointer;
  clear: both;
}
.page-block-product .load-more:after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url('../images/ico-load-more.png') no-repeat 0 0 transparent;
  margin-left: 10px;
}
.page-block-product .load-more.load-more-open:after{
  content: '';
  display: none;
}