/* page-block-about */

@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css');

a{
  color: #5098de;
}

.page-block-about{
  background: url('../images/bg-about.png') no-repeat 0 0 transparent;
  background-size: cover;
  color: #fff;
  padding: 72px 20px 0;
}

.page-block-about .page-inner{
  width: 730px;
  margin: 0 auto -170px;
  min-height: 100%;
  height: auto;
}
.page-block-about .page-inner:after{
  content: "";
  height: 170px;
  display: block;
}

.page-block-about .page-title{
  font-size: 36px;
  font-family: 'MuseoSansCyrl-700';
}
.page-block-about .page-content{
  font-size: 18px;
  line-height: 29px;
  margin-top: 48px;
}

.page-block-about .copyright{
  height: 170px;
  font-size: 18px;
  overflow: hidden;
  clear: both;
  position: relative;
  padding-top: 30px;
}
.page-block-about .copyright .copyright-inner{
  width: 730px;
  margin: 0 auto;
}
.page-block-about .copyright .copyright-inner .logo{
  vertical-align: middle;
  margin-right: 30px;
}

/* page-block-contacts */
.page-block-contacts{
  font-size: 18px;
  padding: 40px 0 72px;
}

.page-block-contacts .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-500'
}

.page-block-contacts .communication-type .title{
  font-size: 18px;
}
.page-block-contacts .communication-type .text{
  margin-top: 20px;
  line-height: 25px;
}
.page-block-contacts .communication-type .call-order{
  margin-top: 10px;
  position: relative;
}
.page-block-contacts .communication-type .call-order .button{
  background: none #5098de;
  border: medium none;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  outline: medium none;
}
.page-block-contacts .communication-type .call-order .button:hover{
  background: none #59a8f7;
}

.page-block-contacts .communication-type .map-box{
  margin-top: 25px;
  width: 100%;
  height: 300px !important;
}

.page-block-contacts .communication-types{
  margin: 35px 0;
  display: table;
  width: 100%;
}
.page-block-contacts .communication-types .communication-type{
  display: table-cell;
  padding-right: 50px;
}

.page-block-contacts .communication-type-address{
  margin-top: 30px;
}

.page-block-contacts .communication-type-address a.download-scheme{
  display: inline-block;
  cursor: pointer;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
  border: solid 2px #5098de;
  padding: 12px 35px;
  color: #5098de;
  text-decoration: none;
  margin-top: 30px;
}

.map-infowindow{
  max-width: 350px;
}
.map-infowindow .name{
  font-weight: bold;
}
.map-infowindow .address{
  margin-top: 10px;
}

/* page-block-delivery-payments */
.page-block-delivery-payments .delivery{
  padding: 40px 0 72px;
  min-height: 573px;
}

.page-block-delivery-payments .payment{
  padding: 40px 0 72px;
}

.page-block-delivery-payments .payment .payment-grid td{
  padding: 0 10px 15px 0;
  width: 33%;
}
.page-block-delivery-payments .payment .payment-grid td:last-child{
  padding-right: 0;
}
.page-block-delivery-payments .payment .payment-grid tr:last-child td{
  padding-bottom: 0;
}
.page-block-delivery-payments .payment .payment-grid td.payment-type{
  vertical-align: middle;
}
.page-block-delivery-payments .payment .payment-grid td.payment-type .payment-ico{
  margin-right: 10px;
  vertical-align: middle;
}

.page-block-delivery-payments .delivery .title, .page-block-delivery-payments .payment .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-delivery-payments .delivery .text, .page-block-delivery-payments .payment .text{
  margin-top: 30px;
  line-height: 28px;
  font-size: 16px;
}
.page-block-delivery-payments .delivery .text, .page-block-delivery-payments .payment .text p{
  margin-bottom: 15px;
}
.page-block-delivery-payments .delivery .text, .page-block-delivery-payments .payment .text p:last-child{
  margin-bottom: 0;
}
.page-block-delivery-payments .payment .ico-credit-system{
  vertical-align: middle;
  margin-left: 10px;
  height: 40px;
}

.page-block-delivery-payments .delivery .delivery-types{
  display: table;
  width: 100%;
  margin-top: 50px;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item{
  display: table-cell;
  padding-right: 60px;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .title{
  font-size: 18px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .delivery-list{
  margin-top: 33px;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .delivery-list table{
  width: 100%;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .delivery-list table td{
  background: none #fff;
  padding: 14px 20px;
  color: #000;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .delivery-list table tr.gray td{
  background: none #f2f2f2;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .delivery-list table tr td:last-child{
  font-family: 'MuseoSansCyrl-500';
}

.page-block-delivery-payments .payment .payments-list{
  margin-top: 50px;
}

.page-block-delivery-payments .payment .payments-list .payment-item{
  padding: 30px;
  background: none #f2f2f2;
  margin-bottom: 10px;
}
.page-block-delivery-payments .payment .payments-list .payments-list-col .payment-item:last-child{
  margin-bottom: 0;
}

.page-block-delivery-payments .payment .payments-list .payment-item .ico{
  margin-bottom: 20px;
}
.page-block-delivery-payments .payment .payments-list .payment-item .title{
  font-size: 18px;
}
.page-block-delivery-payments .payment .payments-list .payment-item .text{
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}
.page-block-delivery-payments .payment .payments-list .payment-item .text p{
  margin-bottom: 20px;
}
.page-block-delivery-payments .payment .payments-list .payment-item .text p:last-child{
  margin-bottom: 0;
}
.page-block-delivery-payments .payment .payments-list .payment-item .text .more{
  color: #5098de;
  border-bottom: dotted 1px #5098de;
  cursor: pointer;
}

.page-block-delivery-payments .delivery .delivery-navigation{
  padding: 20px 0 45px;
  background: none #fff;
  width: 100%;
}
.page-block-delivery-payments .delivery .delivery-navigation:after{
  content: '';
  display: block;
  clear: both;
}
.page-block-delivery-payments .delivery .delivery-navigation.stuck {
  position:fixed;
  top:0;
  transition: top 0.5s;
  -webkit-transition: top 0.5s;
  z-index: 10;
}

.page-block-delivery-payments .delivery .delivery-navigation ul li{
  background: none #f2f2f2;
  padding: 12px 20px;
  float: left;
  cursor: pointer;
  color: #1e2326;
}
.page-block-delivery-payments .delivery .delivery-navigation ul li.active{
  background: none #5098de;
  color: #fff;
  cursor: default;
}

.page-block-delivery-payments .delivery-list .delivery-item{
  margin-bottom: 45px;
}
.page-block-delivery-payments .delivery-list .delivery-item p{
  margin-bottom: 15px;
  line-height: 26px;
}
.page-block-delivery-payments .delivery-list .delivery-item p:last-child{
  margin-bottom: 0;
}

.page-block-delivery-payments .delivery-list .delivery-item:last-child{
  margin-bottom: 0;
}
.page-block-delivery-payments .delivery-list .delivery-item .delivery-item-title{
  font-size: 18px;
  font-family: 'MuseoSansCyrl-500';
  margin-bottom: 25px;
}

.page-block-delivery-payments .delivery-list .delivery-item .sub-list .sub-list-item{
  margin-bottom: 30px;
}
.page-block-delivery-payments .delivery-list .delivery-item .sub-list .sub-list-item:last-child{
  margin-bottom: 0;
}
.page-block-delivery-payments .delivery-list .delivery-item .sub-list .sub-list-item .sub-list-item-title{
  font-family: 'MuseoSansCyrl-500';
  margin-bottom: 20px;
}

.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search{
  margin-bottom: 20px;
}
.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search:after{
  content: '';
  display: block;
  clear: both;
}

.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .inner{
  height: 60px;
  padding: 10px;
  background: none #f2f2f2;
  float: left;
  position: relative;
}

.page-block-delivery-payments .delivery-list .delivery-item a{
  font-family: 'MuseoSansCyrl-500';
  margin-right: 10px;
  outline: medium none;
}
.page-block-delivery-payments .delivery-list .delivery-item a:after{
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url('../images/ico-blank-link.png') no-repeat 0 0 transparent;
  margin-left: 10px;
  vertical-align: middle;
}

.page-block-delivery-payments .delivery-list .delivery-item a.download-scheme{
  display: inline-block;
  cursor: pointer;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
  border: solid 2px #5098de;
  padding: 12px 35px;
  color: #5098de;
  text-decoration: none;
}
.page-block-delivery-payments .delivery-list .delivery-item a.download-scheme:after{
  content: '';
  display: none;
}

.page-block-delivery-payments .delivery-companies td{
  padding: 15px;
}
.page-block-delivery-payments .delivery-companies td:first-child{
  padding-left: 0;
}

.page-block-delivery-payments .notice:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url('../images/ico-notice.png') no-repeat 0 0 transparent;
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.page-block-delivery-payments .delivery-list .delivery-item-additional .price-grid{
  width: 100%;
}
.page-block-delivery-payments .delivery-list .delivery-item-additional .price-grid td{
  padding: 15px;
}

.page-block-delivery-payments .delivery-list .delivery-item-additional .price-grid td:first-child{
  padding-left: 0;
}
.page-block-delivery-payments .delivery-list .delivery-item-additional .price-grid td.value{
  text-align: right;
}
.page-block-delivery-payments .delivery-list .delivery-item-additional .price-grid td.value .digits{
  color: #5098de;
  font-family: 'MuseoSansCyrl-500';
}

.page-block-delivery-payments .delivery-list .delivery-item-additional .additional-service-list{
  margin: 20px 0;
}

.page-block-delivery-payments .delivery-list .delivery-item-additional .additional-service-list ul li{
  margin-bottom: 10px;
  padding-left: 20px;
  text-indent: -20px;
}
.page-block-delivery-payments .delivery-list .delivery-item-additional .additional-service-list ul li:last-child{
  margin-bottom: 0;
}
.page-block-delivery-payments .delivery-list .delivery-item-additional .additional-service-list ul li:before {
  content: "• ";
  color: #5098de;
  font-size: 28px;
  line-height: 12px;
  vertical-align: middle;
}

.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .search-field{
  position: relative;
}
.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .search-field input{
  height: 40px;
  width: 280px;
  border: medium none;
  outline: medium none;
  color: #808080;
  font-size: 16px;
  padding: 10px 50px 10px 15px;
  font-family: 'MuseoSansCyrl-300';
}

.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .search-field .caret{
  width: 48px;
  border-left: solid 1px #e6e6e6;
  background: url('../images/ico-city-search-caret-opened.png') no-repeat 50% 50% #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 10;
}
.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search.opened .search-field .caret{
  background: url('../images/ico-city-search-caret.png') no-repeat 50% 50% transparent;
}

.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .search-list{
  position: absolute;
  top: 50px;
  left: 10px;
  right: 10px;
  border: solid 1px #e6e6e6;
  background: none #fff;
  height: 160px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
  z-index: 11;
}
.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search.opened .search-list{
  display: block;
}
.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .search-list .list-item{
  font-size: 16px;
  padding: 12px 15px;
  font-family: 'MuseoSansCyrl-300';
  cursor: pointer;
  color: #808080;
  border-top: solid 1px #e6e6e6;
}
.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .search-list .list-item:first-child{
  border-top: medium none;
}
.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .search-list .list-item:nth-child(odd){
  background: none #f2f2f2;
}

.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .delivery-result{
  position: absolute;
  left: 320px;
  top: 20px;
  white-space: nowrap;
}
.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .delivery-result .delivery-enabled{
  color: #5098de;
}
.page-block-delivery-payments .delivery-list .delivery-item .delivery-city-search .delivery-result .delivery-disabled{
  color: #e91a1b;
}

/* page-block-faq */
.page-block-faq{
  padding: 40px 0 70px;
  width: 1000px;
  margin: 0 auto;
}
.page-block-faq .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-faq .faq-list{
  margin-top: 35px;
}
.page-block-faq .faq-list .faq-item{
  margin-bottom: 25px;
}
.page-block-faq .faq-list .faq-item:last-child{
  margin-bottom: 0;
}

.page-block-faq .faq-list .faq-item .faq-item-question{
  font-family: 'MuseoSansCyrl-700';
  margin-bottom: 20px;
}
.page-block-faq .faq-list .faq-item .faq-item-answer{
  margin-top: 10px;
  line-height: 22px;
}
.page-block-faq .faq-list .faq-item .faq-item-answer p{
  margin-bottom: 15px;
}
.page-block-faq .faq-list .faq-item .faq-item-answer p:last-child{
  margin-bottom: 0;
}

.page-block-faq .faq-list .faq-item .faq-item-answer ol{
  list-style-type: decimal;
  padding-left: 20px;
}

.page-block-faq .faq-list .faq-item .faq-item-answer ol li ul{
  margin-top: 10px;
}

.page-block-faq .faq-list .faq-item .faq-item-answer ol li,
.page-block-faq .faq-list .faq-item .faq-item-answer ul li{
  margin-bottom: 10px;
}
.page-block-faq .faq-list .faq-item .faq-item-answer ol li:last-child,
.page-block-faq .faq-list .faq-item .faq-item-answer ul li:last-child{
  margin-bottom: 0;
}
.page-block-faq a:after{
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url('../images/ico-blank-link.png') no-repeat 0 0 transparent;
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: middle;
}

.page-block-faq .notice{
  font-weight: bold;
}

.page-block-faq .delivery-companies{
  margin-bottom: 10px;
}
.page-block-faq .delivery-companies td{
  padding: 10px;
}
.page-block-faq .delivery-companies td:first-child{
  padding-left: 0;
}

/* page-block-return-guarantee */
.page-block-return-guarantee{
  padding: 40px 0 70px;
  width: 1000px;
  margin: 0 auto;
}
.page-block-return-guarantee .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-return-guarantee .text, .page-block-return-guarantee .text{
  margin-top: 30px;
  line-height: 28px;
  font-size: 16px;
}
.page-block-return-guarantee .guarantee{
  margin-top: 50px;
}
.page-block-return-guarantee .guarantee-grid{
  margin-top: 35px;
}
.page-block-return-guarantee .guarantee-grid td{
  font-size: 14px;
  border-bottom: dashed 1px #e6e6e6;
  padding: 25px;
  vertical-align: middle;
}
.page-block-return-guarantee .guarantee-grid td.caption{
  font-weight: bold;
  line-height: 28px;
}

.page-block-return-guarantee .guarantee-grid td:first-child{
  padding-left: 0;
  width: 250px;
}
.page-block-return-guarantee .guarantee-grid tr:last-child td{
  border-bottom: medium none;
}

/*search*/
.page-block-search{
  padding: 40px 60px;
}
.page-block-search .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-700';
}

.page-block-search .product-list{
  margin-top: 35px;
  position: relative;
}

.product-item{
  width: 272px;
  margin-right: 28px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
  position: relative;
  text-decoration: none;
  color: #272e32;
}

.page-block-search .product-list .product-item:last-child{
  margin-right: 0;
}
.page-block-search .product-list .product-item .price{
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 11px;
  color: #fff;
  background: none #5098de;
}
.page-block-search .product-list .product-item .artikul{
  font-size: 16px;
  color: #4c4c4c;
  margin-top: 15px;
}
.page-block-search .product-list .product-item .name{
  margin-top: 10px;
  font-size: 18px;
  line-height: 29px;
  font-family: 'MuseoSansCyrl-500';
  padding-right: 85px;
}

.page-block.page-block-info-part{
  width: 1000px;
  margin: 0 auto;
  padding-left: 250px;
  position: relative;
}
.page-block.page-block-info-part:before{
  display: block;
  content: '';
  position: absolute;
  width: 1px;
  left: 195px;
  top: 40px;
  bottom: 50px;
  background: none #999;
}

.nav-menu-info{
  position: absolute;
  top: 235px;
  left: 50%;
  margin-left: -500px;
  z-index: 100;
}
.nav-menu-info ul li{
  margin-bottom: 13px;
  padding: 7px 0;
}

.nav-menu-info ul li.active{
  border-left: solid 11px #5098de;
  padding-left: 15px;
}

.nav-menu-info a{
  text-decoration: none;
  font-family: 'MuseoSansCyrl-500';
  color: #1e2326;
}

.page-block.page-block-404{
  position: absolute;
  top: -200px;
  right: 0;
  bottom: 0;
  left: 0;
  background: none #fff;
  z-index: 1100;
  text-align: center;
  padding: 150px 0;
}
.page-block.page-block-404 .page-head{
  font-size: 200px;
  color: #5098de;
  font-family: 'MuseoSansCyrl-700';
}
.page-block.page-block-404 .page-title{
  font-size: 40px;
  font-family: 'MuseoSansCyrl-700';
  margin-top: 25px;
}
.page-block.page-block-404 .page-content{
  width: 700px;
  margin: 25px auto 0;
  line-height: 26px;
}
.page-block.page-block-404 .btn-main{
  cursor: pointer;
  text-align: center;
  background: none #5098de;
  color: #fff;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-700';
  border: medium none;
  margin-top: 25px;
  padding: 12px 15px;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 1300px){
  .nav-menu-info{
    margin-left: -470px;
  }
  .page-block.page-block-info-part{
    padding-left: 255px;
    padding-right: 20px;
  }
  .page-block.page-block-info-part:before{
    left: 215px;
  }

  .page-block-delivery-payments .delivery .delivery-navigation ul li{
    padding: 12px;
    font-size: 14px;
  }
  .page-block-delivery-payments .delivery .title, .page-block-delivery-payments .payment .title,
  .page-block-return-guarantee .title,
  .page-block-faq .title,
  .page-block-contacts .title{
    font-size: 20px;
  }
  .page-block-delivery-payments .delivery .delivery-navigation{
    padding-bottom: 25px;
  }
  .page-block-delivery-payments .delivery-list .delivery-item .delivery-item-title{
    font-size: 16px;
    margin-bottom: 15px;
  }
  .page-block-delivery-payments .delivery-list .delivery-item .delivery-item-content,
  .page-block-delivery-payments .payment .payments-list .payment-item .text,
  .page-block-return-guarantee .text, .page-block-return-guarantee .text,
  .page-block-faq .faq-list .faq-item .faq-item-answer,
  .page-block-contacts .communication-type .text{
    font-size: 14px;
    line-height: 26px;
  }
  .page-block-delivery-payments .delivery-list .delivery-item .sub-list .sub-list-item{
    margin-bottom: 20px;
  }
  .page-block-delivery-payments .delivery-list .delivery-item a.download-scheme{
    padding: 10px 25px;
  }
  .page-block-delivery-payments .payment .payments-list .payment-item .title,
  .page-block-contacts .communication-type .title{
    font-size: 16px;
  }

  .page-block-about .page-title{
    font-size: 30px;
  }
  .page-block-about .page-content, .page-block-about .copyright{
    font-size: 16px;
  }
}