/* page-block-about */
.page-block-about{
  background: url('../images/bg-about.png') no-repeat 0 0 transparent;
  background-size: cover;
  color: #fff;
  padding: 72px 20px 0;
}

.page-block-about .page-inner{
  width: 730px;
  margin: 0 auto -170px;
  min-height: 100%;
  height: auto;
}
.page-block-about .page-inner:after{
  content: "";
  height: 170px;
  display: block;
}

.page-block-about .page-title{
  font-size: 36px;
  font-family: 'MuseoSansCyrl-700';
}
.page-block-about .page-content{
  font-size: 18px;
  line-height: 29px;
  margin-top: 48px;
}

.page-block-about .copyright{
  height: 170px;
  font-size: 18px;
  overflow: hidden;
  clear: both;
  position: relative;
  padding-top: 30px;
}
.page-block-about .copyright .copyright-inner{
  width: 730px;
  margin: 0 auto;
}
.page-block-about .copyright .copyright-inner .logo{
  vertical-align: middle;
  margin-right: 30px;
}

/* page-block-contacts */
.page-block-contacts{
  display: table;
  font-size: 18px;
}
.page-block-contacts .page-col{
  display: table-cell;
  width: 50%;
}
.page-block-contacts .page-col.page-bg{
  background: url('../images/bg-contacts.png') no-repeat 0 0 transparent;
  background-size: cover;
}
.page-block-contacts .page-col.page-content{
  padding: 60px;
}

.page-block-contacts .communication-type .title{
  font-size: 24px;
}
.page-block-contacts .communication-type .text{
  margin-top: 20px;
  line-height: 25px;
}
.page-block-contacts .communication-type .call-order{
  margin-top: 10px;
  position: relative;
}
.page-block-contacts .communication-type .call-order .button{
  background: none #5098de;
  border: medium none;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  outline: medium none;
}
.page-block-contacts .communication-type .call-order .button:hover{
  background: none #59a8f7;
}

.page-block-contacts .communication-type .map-box{
  margin-top: 20px;
  width: 100%;
  height: 300px !important;
}

.page-block-contacts .communication-types{
  margin-bottom: 50px;
  display: table;
  width: 100%;
}
.page-block-contacts .communication-types .communication-type{
  display: table-cell;
  padding-right: 50px;
}

.map-infowindow{
  max-width: 350px;
}
.map-infowindow .name{
  font-weight: bold;
}
.map-infowindow .address{
  margin-top: 10px;
}

/* page-block-delivery-payments */
.page-block-delivery-payments .delivery{
  padding: 40px 60px 72px;
  min-height: 573px;
}

.page-block-delivery-payments .payment{
  padding: 40px 60px 72px;
}

.page-block-delivery-payments .delivery .title, .page-block-delivery-payments .payment .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-delivery-payments .delivery .text, .page-block-delivery-payments .payment .text{
  margin-top: 30px;
  width: 50%;
  line-height: 28px;
  font-size: 16px;
}

.page-block-delivery-payments .delivery .delivery-types{
  display: table;
  width: 100%;
  margin-top: 50px;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item{
  display: table-cell;
  padding-right: 60px;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .title{
  font-size: 18px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .delivery-list{
  margin-top: 33px;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .delivery-list table{
  width: 100%;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .delivery-list table td{
  background: none #fff;
  padding: 14px 20px;
  color: #000;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .delivery-list table tr.gray td{
  background: none #f2f2f2;
}
.page-block-delivery-payments .delivery .delivery-types .delivery-type-item .delivery-list table tr td:last-child{
  font-family: 'MuseoSansCyrl-500';
}

.page-block-delivery-payments .payment .payments-list{
  margin-top: 50px;
  display: table;
  width: 100%;
}
.page-block-delivery-payments .payment .payments-list .payments-list-col{
  width: 50%;
  padding-right: 40px;
  display: table-cell;
}

.page-block-delivery-payments .payment .payments-list .payment-item{
  padding: 30px;
  background: none #f2f2f2;
  margin-bottom: 40px;
}
.page-block-delivery-payments .payment .payments-list .payments-list-col .payment-item:last-child{
  margin-bottom: 0;
}

.page-block-delivery-payments .payment .payments-list .payment-item .ico{
  margin-bottom: 20px;
}
.page-block-delivery-payments .payment .payments-list .payment-item .title{
  font-size: 18px;
}
.page-block-delivery-payments .payment .payments-list .payment-item .text{
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}
.page-block-delivery-payments .payment .payments-list .payment-item .text p{
  margin-bottom: 20px;
}
.page-block-delivery-payments .payment .payments-list .payment-item .text p:last-child{
  margin-bottom: 0;
}
.page-block-delivery-payments .payment .payments-list .payment-item .text .more{
  color: #5098de;
  border-bottom: dotted 1px #5098de;
  cursor: pointer;
}

/* page-block-faq */
.page-block-faq{
  padding: 40px 0 70px;
  width: 1000px;
  margin: 0 auto;
}
.page-block-faq .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-faq .faq-list{
  margin-top: 35px;
}
.page-block-faq .faq-list .faq-item{
  margin-bottom: 25px;
}
.page-block-faq .faq-list .faq-item:last-child{
  margin-bottom: 0;
}

.page-block-faq .faq-list .faq-item .faq-item-answer{
  margin-top: 10px;
}
.page-block-faq .faq-list .faq-item .faq-item-question .caption,
.page-block-faq .faq-list .faq-item .faq-item-answer .caption{
  font-family: 'MuseoSansCyrl-500';
}

/* page-block-return-guarantee */
.page-block-return-guarantee{
  padding: 40px 0 70px;
  width: 1000px;
  margin: 0 auto;
}
.page-block-return-guarantee .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-return-guarantee .text, .page-block-return-guarantee .text{
  margin-top: 30px;
  line-height: 28px;
  font-size: 16px;
}
.page-block-return-guarantee .guarantee{
  margin-top: 50px;
}