@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url('../fonts/MuseoSansCyrl-500.otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url('../fonts/MuseoSansCyrl-700.otf');
}

@font-face {
  font-family: 'PTSansLocal';
  src: url('../fonts/PTSans/PTSans.eot');
  src: url('../fonts/PTSans/PTSans.eot?iefix') format("eot"), url('../fonts/PTSans/PTSans.woff') format("woff"), url('../fonts/PTSans/PTSans.ttf') format("truetype"), url('../fonts/PTSans/PTSans.svg#webfont') format("svg");
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body{
  font-family: 'MuseoSansCyrl-300';
  color: #272e32;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
}

.sidebar{
  position: fixed;
  width: 60px;
  left: 0;
  top: 0;
  bottom: 0;
  background: none #1e2326;
  z-index: 101;
}
.sidebar .sidebar-ico-open{
  width: 20px;
  height: 17px;
  background: url('../images/sidebar-ico-open.png') no-repeat 0 0 transparent;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 20px;
}

.sidebar-menu{
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 285px;
  background: none #272e32;
  z-index: 100;

  padding: 30px 40px 30px 0;

  font-family: 'MuseoSansCyrl-500';
  font-size: 16px;

  overflow: auto;

  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sidebar-open .sidebar-menu{
  left: 60px;
}
.sidebar-menu .header{
  padding-left: 30px;
}

.sidebar-menu .menu{
  margin-top: 20px;
}
.sidebar-menu .menu li{
  padding: 10px 0 10px 30px;
}
.sidebar-menu .menu a{
  color: #fff;
  text-decoration: none;
}

.sidebar-menu .part-menu{
  margin-top: 35px;
}
.sidebar-menu .part-menu li{
  padding: 10px 0 10px 30px;
}
.sidebar-menu .part-menu a{
  color: #686d70;
  text-decoration: none;
}

.sidebar-menu .contacts{
  margin-top: 180px;
  padding-left: 30px;
}
.sidebar-menu .contacts .phone{
  color: #fff;
}
.sidebar-menu .contacts .call-order{
  margin-top: 30px;
  position: relative;
}

.sidebar-menu .contacts .call-order .button{
  background: none #505e66;
  border: medium none;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
  color: #a8afb3;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  outline: medium none;
}
.sidebar-menu .contacts .call-order.call-order-open:before{
  content: "";
  border-color: #505e66 transparent transparent transparent;
  border-style: solid;
  border-width: 7px 8px;
  width: 0;
  height: 0;
  position: absolute;
  right: 50%;
  top: 40px;
  z-index: 111;
  margin-right: -8px;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-menu .contacts .call-order .order-form{
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidebar-menu .contacts .call-order.call-order-open .order-form{
  opacity: 1;
}

.sidebar-menu .contacts .call-order .order-form .order-phone{
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.sidebar-menu .contacts .call-order .order-form .form-send{
  margin-top: 5px;
}
.sidebar-menu .contacts .call-order .order-form .form-send .button{
  color: #fff;
  background: none #5098de;
  width: 100px;
  padding: 10px;
  vertical-align: middle;
}
.sidebar-menu .contacts .call-order .order-form .form-send .form-close{
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('../images/ico-form-close.png') no-repeat 0 0 transparent;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 10px;
}

.container{
  left: 60px;
  top: 0;
  bottom: 0;
  right: 0;
  min-width: 1024px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
}
.sidebar-open .container{
  left: 345px;
}


.main-menu .menu-item{
  width: 100%;
  border-bottom: solid 1px #cccccc;
  text-align: center;
  padding: 45px;
  cursor: pointer;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all 0.2s ease;
}
.main-menu .menu-item:last-child{
  border-bottom: medium none;
}

.main-menu .menu-item .title{
  font-size: 30px;
  font-family: 'MuseoSansCyrl-700';
}
.main-menu .menu-item .summary{
  font-size: 18px;
  margin-top: 15px;
}

.main-menu .menu-item:hover{
  background: none #377db9;
  color: #fff;
}

.menu-item-content{
  position: absolute;
  left: 350px;
  top: 0;
  bottom: 0;
  right: 0;
  background: none #fff;
  padding: 100px 110px;

  font-family: 'MuseoSansCyrl-300';

  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.menu-item-content.open{
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu-item-content .title{
  font-size: 36px;
  font-family: 'MuseoSansCyrl-700';
}
.menu-item-content .content{
  font-size: 18px;
  margin-top: 40px;
}
.menu-item-content .content p{
  margin-bottom: 35px;
}
.menu-item-content .content p:last-child{
  margin-bottom: 0;
}

.ico-close {
  background: url('../images/ico_close.svg') no-repeat center;
  background-size: 100%;
  position: fixed;
  top: 27px;
  right: 27px;
  opacity: 0.3;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0);
  z-index: 10001;
  color: #000000;
}
.ico-close:hover{
   opacity: 1;
   transform: rotate(180deg);
   border-radius: 50%;
   border-color: rgba(255,255,255,0.3);
}

.scaleDownUp {
  -webkit-animation: scaleDownUp .5s ease both;
  animation: scaleDownUp .5s ease both;
}
.scaleUp {
  -webkit-animation: scaleUp .5s ease both;
  animation: scaleUp .5s ease both;
}
.scaleDown {
  -webkit-animation: scaleDown .5s ease both;
  animation: scaleDown .5s ease both;
}

.rouble {
  font-family: 'PTSansLocal', serif;
}

@-webkit-keyframes scaleDownUp {
  from { }
  to { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleDownUp {
  from { }
  to { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

@-webkit-keyframes scaleDown {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes scaleUp {
  from { opacity: 0; -webkit-transform: scale(.9); }
}
@keyframes scaleUp {
  from { opacity: 0; -webkit-transform: scale(.9); transform: scale(.8); }
}